
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al buzon, <%= @user.email %></h1>
    <p>
     Haz pedido un reporte
      
    </p>
    
    <p>Gracias que tengas un gran dia!</p>
  </body>
</html>
